<navbar></navbar>

  <!-- Position Bar -->
  <nav class="navbar navbar-inverse" role="navigation">
    <ul class="nav navbar-nav side-nav"> 
      <li>
        <form ng-submit="positionForm.create()">
          <input class="forms-control" type="text" name="name" ng-model="newPosition.name" required="required" placeholder="Add a new position">
          <button type="submit" class="subchck btn submit down-button addPos" ><b>+</b></button>
        </form>
      </li>
      <li ng-repeat="position in positions">
        <a class="fa fa-fw fa-arrows-v" ng-click="getPosition(position)"> {{ position.name}}
        <button ng-click="delete(position)" class="deletePos">-</button></a>
      </li>
    </ul>
  </nav>

<!-- TECHNIQUE TYPE -->
<div class="ttype-capsule">
  <!-- HEADER -->
  <div class="ttype-head">
    <form ng-submit="techTypeForm.create()">
      <input class="forms-control" type="text" name="name" ng-model="newTechType.name" required="required" placeholder="Add a new technique type">
      <button type="submit" class="subchck btn submit down-button addPos" ><b>+</b></button>
    </form>
  </div>

  <!-- TECHNIQUE CARDS -->
  <div  >
    <div class="ttype-card-container" ng-repeat="technique_type in technique_types">
      <div class="ttype-card-header">
        <button ng-click="deleteTechType(technique_type)" class="deletePos">-</button>
        <p> {{technique_type.name}} </p>

      </div>
      <ul>
        <li ng-repeat="technique in technique_type.techniques">
          <a href="">{{technique.name}}</a>
        </li>
      </ul>
    </div>
  </div>

</div>




<!-- Technique -->
<div class="technique-capsule">
</div>


