app.directive('ngReallyClick', ['$uibModal',
    function($uibModal) {

  url = "<%= ENV['URL'] %>" || 'http://localhost:3000';

    return {
      restrict: 'A',
      scope:{
        ngReallyClick:"&",
        item:"="
      },
      link: function(scope, element, attrs) {
        element.bind('click', function() {
          var message = attrs.ngReallyMessage || "Are you sure ?";

          var modalHtml = '<div class="modal-body">' + message + '</div>';
          modalHtml += '<div class="modal-footer"><button class="btn btn-primary2" ng-click="ok()">OK</button><button class="btn btn-warning" ng-click="cancel()">Cancel</button></div>';

          var modalInstance = $uibModal.open({
            template: modalHtml,
            controller: 'ModalInstanceCtrl',
            windowClass: 'app-modal-window'
          });

          modalInstance.result.then(function() {
            scope.ngReallyClick({item:scope.item}); //raise an error : $digest already in progress
          }, function() {
            //Modal dismissed
          });
          //*/
          
        });

      }
    }
  }
]);


app.controller('ModalInstanceCtrl', ['$scope', '$uibModalInstance', 'Sharedata', '$http', '$timeout', 'SeedData', function($scope, $uibModalInstance, Sharedata, $http, $timeout, SeedData) {

    if (window.innerWidth <= 1281 ) {
    $('.no-touch').removeClass("no-touch");
  }


  $scope.placeholder = Sharedata.ttype_to_edit.name

  console.log($scope.placeholder);
  $scope.ok = function() {
    $uibModalInstance.close();


    $timeout(function(){
      $http.get(url + '/positions/' + Sharedata.position_to_edit + '/technique_types').success(function(response){
        console.log(response);
      })}, 10000)
  };

  $scope.cancel = function() {
    $uibModalInstance.dismiss('cancel');
  };

    // EDIT TECHNIQUE NAME
  $scope.newTtypeNameForm = {};
  $scope.newTtypeNameForm.create = function(){
    var data = {
      name: $scope.newTtypeName,
    };

    Sharedata.newTtypeName = data
    $http.put(url + '/positions/' + Sharedata.position_to_edit + '/technique_types/' + Sharedata.ttype_to_edit.id, data).success(function(response){
      // console.log(response);
    });
  };


  // SEED DATA
  $scope.loadingTimeout = function(time) { 
    $timeout(function(){
      location.reload();
    }, time);
  };


  $scope.populate = function() {
    var checked_template = document.querySelector('input[name = "choose_template"]:checked').value;

    if (checked_template === "gi") {
      SeedData.populateGi();
      $scope.loadingBar = true;
      $scope.loadingTimeout(30000);

    } else if (checked_template === "nogi") {
      SeedData.populateNoGi();
      $scope.loadingBar = true;
      $scope.loadingTimeout(30000);

    } else if (checked_template === "both") {
      SeedData.populateGi();
      SeedData.populateNoGi();
      $scope.loadingBar = true;
      $scope.loadingTimeout(50000);

    } else if (checked_template === "none") {
      $scope.cancel();
    }


  };



}]);