<div ng-show="resetFail" ng-repeat="errorMessage in errorMessages" class="alert alert-danger" id="signupFail" role="alert">{{ errorMessage }}</div>
<form ng-submit="handlePwdResetBtnClick()" role="form">
  <div class="form-group">
    <label>email</label>
    <input type="email" name="email" ng-model="passwordResetForm.email" required="required" class="form-control"/>
  </div>
  <button type="submit" class="btn btn-danger btn-lg">Request password reset</button>
</form>