<nav class="navbar navbar-default reset_nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/"> <img class="landing-brand" src="<%= image_path('newlogo.png') %>"></a>
    </div>
  </div>
</nav>

<div class="panel panel-default col-md-6 col-sm-offset-3 col-sm-5 reset_panel">
  <div class="panel-body">
    <h3>Reset your password</h3>
    <hr>
    <div ng-show="resetFail" ng-repeat="errorMessage in errorMessages" class="alert alert-danger" id="signupFail" role="alert">{{ errorMessage }}</div>
    <form ng-submit="handlePwdResetBtnClick()" role="form">
      <div class="form-group">
        <input type="email" name="email" ng-model="passwordResetForm.email" required="required" class="form-control" placeholder="Enter your email address"/>
      </div>
      <button type="submit" class="btn1 btn-top btn-lg reset_button">Request password reset</button>
    </form>
  </div>
</div>
