<nav class="navbar navbar-default reset_nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/"> <img class="landing-brand" src="<%= image_path('newlogo.png') %>"></a>
    </div>
  </div>
</nav>

<div class="panel panel-default col-md-6 col-sm-offset-3 col-sm-5 reset_panel">
  <div class="panel-body">
    <h3>Create a new password</h3>
    <hr>
    <div ng-show="pwUpdateFail" ng-repeat="errorMessage in errorMessages" class="alert alert-danger" id="signupFail" role="alert">{{ errorMessage }}</div>
    <form ng-submit="handleUpdatePasswordBtnClick()" role="form">
      <div class="form-group">
        <input type="password" name="password" ng-model="changePasswordForm.password" required="required" class="form-control" placeholder="Enter your new password">
      </div>
      <div class="form-group">
        <input type="password" name="password_confirmation" ng-model="changePasswordForm.password_confirmation" required="required" class="form-control" placeholder="Confirm your new password">
      </div>

      <button type="submit" class="btn1 btn-top btn-lg reset_button">Change your password</button>
    </form>
  </div>
</div>