<navbar></navbar>
  <!-- SIDE NAV -->
  <nav class="navbar-inverse navbar homenav snav">
    <ul ng-class="posCol" class="newbrand">
      <a href="/#/" >
        <img class="navbar-brand" id="brand" src="<%= image_path('logo.png') %>">
      </a>
    </ul>
    <ul ng-class="posCol" class="addposition">
    </ul>
    <ul ng-class="posCol" 
    class="nav navbar-nav side-nav"> 
      <li ng-click="switchToProfile()">
         <span class="position-a" ><span class="profile-list" >PROFILE DETAILS</span> 
      </li>
      <li ng-click="switchToSub()">
         <span class="position-a" ><span class="profile-list" >SUBSCRIPTION DETAILS</span> 
      </li>
    </ul>
  </nav>

  <div>
    <!-- PROFILE DETAILS -->
    <div ng-show="showProfile" class="profile-details col-md-6">
      <h3>MY ACCOUNT - PROFILE</h3>
      <ul>
        <li><span>{{authName}}</span><a ng-click="showName()"href="">Change Name</a>
        </li>
        <li ng-show="showNameInput">
          <form role="form" ng-submit="editAccount()" >
            <input ng-model='editAccountForm.name' type="text" name="text"></input>
            <button type="submit">Update</button>
          </form>
        </li>
        <li><span>{{authEmail}}</span><a ng-click="showEmail()"href="">Change Email</a>
        </li>
        <li ng-show="showEmailInput">
          <form role="form" ng-submit="editAccount()" >
            <input ng-model='editAccountForm.email' type="text" name="text"></input>
            <button type="submit">Update</button>
          </form>       
        </li>
        <li><span>********</span><a ng-click="showPassword()" href="">Change Password</a>
        </li>
         <li ng-show="showPasswordInput">
           <form role="form" ng-submit="editAccount()" >
            <input ng-model='editAccountForm.current_password' type="text" name="text"></input>
            <input ng-model='editAccountForm.password' type="text" name="text"></input>
            <input ng-model='editAccountForm.password_confirmation' type="text" name="text"></input>
          <button type="submit">Update</button>
          </form> 
        </li>
      </ul>
    </div>

    <!-- SUBSCRIPTION DETAILS -->
    <div ng-show="showSub" class="profile-details col-md-6">
      <h3>MY ACCOUNT - SUBSCRIPTION</h3>
      <ul>
        <li><span>{{authName}}</span><a href="">Change Name</a>
        </li>
        <li><span>{{authEmail}}</span><a href="">Change Email</a>
        </li>
        <li><span>********</span><a href="">Change Password</a>
        </li>
      </ul>
    </div>



  </div>

