/*ASIDE*/


.aside-header {
  padding: 14px 14px 13px 14px;
  background-color: #59439c;
  color: white;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}


#slide-menu {
  padding: 0px;
}

.aside-list {
  margin: 0px;
  padding: 0px;
}

.aside-list li {
  border-top: 1px solid #e5e5e5;
}

.aside-list li a {
  display: block;
  padding: 16px 0 16px 30px;
  text-decoration: none;
  color: #363636;
  font-size: 20px;
  font-weight: 1000px;
  cursor: pointer;
}

.aside-list li a:hover {
  color: #59e9df;
}

.aside-icon {
  padding-right: 10px;
}

.aside-title {
  font-family: lato;
  color: #fff;
  padding-left: 20px;
  font-size: 27px;
}

.contact-footer {
  font-size: 14px;
  text-align: left;
  position: absolute;
  bottom: 10px;
  padding-left: 5px;
  padding-right: 10px;
}

