/*fonts*/
@font-face {
font-family: 'Lato';
src: asset-url("Lato-Light.ttf")  format('truetype');
/*font-weight: bold;*/
}

body {
  font-size: 16px;
  font-family: Lato;
  color: #5c5c5c;
}

/* Position */
@media(min-width:768px) {
  .side-nav {
    position: fixed;
    top: 128px;
    left: 20%;
    width: 20%;
    margin-left: -20%;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #363636;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
    font-size: 16px;
  }

  .addposition {
    position: fixed;
    top: 64px;
    left: 20%;
    width: 20%;
    margin-left: -20%;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #363636;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
    font-size: 16px;
  }

  .side-nav>li>a {
    width: 100%;
  }

  .side-nav>li {
    float: left;
    clear: left;
    width: 100%;
    display: block;
  }

  .side-nav li a:hover,
  .side-nav li a:focus {
    outline: none;
    background-color: #000 !important;
  }
}

.side-nav>li>ul {
  padding: 0;
}

.side-nav>li>ul>li>a {
  display: block;
  padding: 10px 15px 10px 38px;
  text-decoration: none;
  color: #999;
}

.side-nav>li>ul>li>a:hover {
  color: #fff;
}

.add-position-form {
  float: right;
  margin-left: -50px;
}

.forms-control {
  margin-top: 20px;
  /*margin-left: 10px;*/
  background-color: #1a1a1a;
  border-style: solid;
  border-width: 1px;
  border-color: #404040;
  color: white;
  width: 200px;
  height: 34px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.addPos {
  background-color: #222;
  border-style: solid;
  border-width: 1px;
  border-color: #404040;
}

.deletePos {
  display: none;
  float: right;
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}

.fa-arrows-v:hover .deletePos {
  display: block;
  float: right;
  color: gray;
  background-color: transparent;
}

.fa-arrows-v:hover .deletePos:hover {
  display: block;
  float: right;
  color: red;
  background-color: transparent;
}

/*technique type*/
.ttype-capsule {
  margin-left: 20%;
  width: 30.5%;
  position: fixed;
  top: 129px;
  border: none;
  border-radius: 0;
  overflow-y: auto;
  background-color: #f3f3f4;
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 40px;
  font-family: Lato;
}

.ttype-head {
  position: fixed;
  background-color: #fff;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #cfd4d6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #daeeec;
  width: 30%;
  height: 65px;
  margin-top: -21px;
  margin-left: 20%;
}

.newtech-head {
  position: fixed;
  border: none;
  background-color: #fff;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #cfd4d6;
  width: 50%;
  height: 65px;
  margin-left: 50%;
  margin-top: -21px;
  z-index: 1;
}

.newtech-head>a {
  color: white;
}

.block-spacing {
  height: 65px;
}

.ttype-card-container {
  margin-top: 5px;
  margin-right: 2%; 
  margin-left: 2%;
  border: none;
  background-color: #fff;
  min-height: 50px;
  height:auto;
  list-style-type: none;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #cfd4d6;
}

ul {
   list-style-type: none;
}

.ttype-card-header {
  background-color: #20bd79;
  color: #fff;
  height: 50px;  
  font-size: 17px;
}

.create-ttype {
  float: right;
  margin-top: -3px;
}

.ttype-head>span {
  display: inline-block;
  margin-left: 20px;
  padding-top: 25px;
  color: #7c7c7c;
  font-size: 12px;
}

.ttype-card-header>p {
  padding-top: 12px;
  padding-left: 15px;
}

/*Technique*/
.tech-row {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #f3f3f4;
}

.tech-row:hover {
  border-bottom-color: #fff;
}

.tech-row>a {
  color: #363636;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}

.forms-control-tech {
  margin-top: 20px;
  margin-left: 10px;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #f3f3f4;
  color: #363636;
  width: 200px;
  height: 34px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.addTech {
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #f3f3f4;
  color: #f3f3f4;
}

.addTech:hover {
  background-color: #62dcee;
  border-color: #fff;
  color: #fff;
}

input:focus {
    outline:none;
}

.add-tech-form {
  float:right;
}

.deleteTType {
  float: right;
  margin-top: 15px;
  color: #222;
  background-color: transparent;
  border-style: none;
  font-size: 12px;
  color: #ffebe3;
}

.deleteTType:hover {
  float: right;
  color: #222;
  background-color: transparent;
  border-style: none;
  color: white;
}

.deleteTechRow {
  display: none;
  float: right;
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}

.tech-row:hover .deleteTechRow {
  display: block;
  float: right;
  color: gray;
  background-color: transparent;
}

.tech-row:hover .deleteTechRow:hover {
  display: block;
  float: right;
  color: red;
  background-color: transparent;
}

/*TECHNIQUE COLUMN*/
.technique-capsule {
  margin-left: 50%;
  width:50%;
  position: fixed;
  top: 129px;
  border: none;
  border-radius: 0;
  overflow-y: auto;
  background-color: #f3f3f4;
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 40px;
  min-height: 90%;
  z-index: -1;
}

.tech-head {
  position: fixed;
  border: none;
  background-color: #fff;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #f3f3f4;
  width: 50%;
  height: 65px;
}

.details-card {
  margin-top: 5px;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
  min-height: 98%;
  background-color: #fff;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #cfd4d6;
}

.right-card-header {
  background-color: #395eab;
  color: #fff;
  height: 50px;  
  font-size: 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #f3f3f4;
  text-align: center;
  padding-top: 10px;
}

textarea {
  outline: none;
  resize: none;
  border-color: #c9c9c9;
  border-radius: 5px;
  width: 90%; 
  margin-left: 5%;
  margin-right:5%;
}

.addNotes {
  display: block;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #f3f3f4;
  color: #7c7c7c;
  float: right;
  margin-right: 5%;
}

.addNotes:hover {
  background-color: #62dcee;
  border-color: #fff;
  color: #fff;
}

.editNotes {
  display: block;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #f3f3f4;
  color: #7c7c7c;
  float: right;
  margin-right: 5%;
}

.editNotes:hover {
  background-color: #62dcee;
  border-color: #fff;
  color: #fff;
}

.step-list-container {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 5%; 
  margin-left: 5%;
  border: none;
  background-color: #fff;
  min-height: 50px;
  height:auto;
  list-style-type: none;
  border-width: 1px;
  border-style: solid;
  border-color: #f3f3f4;
}

.step-list-header {
  background-color: #7494b0;
  color: #fff;
  height: 50px;  
  font-size: 17px;
}

.step-list-header>p {
  text-align: center;
  padding-top: 12px;
}

.step-row {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #daeeec;
  color: #363636;
}
  
.step-row>a {
  color: #363636;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
}

.step-row>a:focus, .step-row>a:hover {
  background-color: #fff !important;
}

.step-row:hover .deleteTechRow {
  display: block;
  float: right;
  color: gray;
  background-color: transparent;
}

.step-row:hover .deleteTechRow:hover {
  display: block;
  float: right;
  color: red;
  background-color: transparent;
}

#video {
  display: inline-block;
  width: 25px;
  margin-left: 36%;
  margin-right: 25px;
  margin-top: 20px;
}

#steps {
  display: inline-block;
  width: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 20px;
}

#notes {
  display: inline-block;
  width: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 20px;
}

.videocard {
  margin-top: 5px;
}

.video-thumb {
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.editVideo {
  margin-top: 10px;
  display: block;
  margin: auto;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #f3f3f4;
  color: #f3f3f4;
}

.editVideo:hover {
  background-color: #62dcee;
  border-color: #fff;
  color: #fff;
}

.add-video-form {
 margin-left: 12%;
}

.forms-control-video {
  margin-left: 2%;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #f0f0f0;
  color: #363636;
  width: 350px;
  height: 34px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.notes-block {
  margin-top: 1px;
  margin-bottom: 10%;
}

.forms-control-step {
  margin-top: 20px;
  margin-left: 10px;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #f3f3f4;
  color: #363636;
  width: 500px;
  height: 34px;
  padding: 6px 12px;
  line-height: 1.42857143;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

#bg-addposition {
  width: 25%;
  display: block;
  margin: auto;
  margin-top: 16%;
}

#bg-addtech {
  width: 38%;
  display: block;
  margin: auto;
  margin-top: 24%;
}

.bg-addposition-container {
  margin-left: 20%;
  width: 80%;
  position: fixed;
  top: 129px;
  border: none;
  border-radius: 0;
  overflow-y: auto;
  background-color: #f3f3f4;
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 40px;
}

.nav2 {
    position: relative;
    display: block;
    padding: 10px 15px;
    list-style: none;
}

.deleteVideoBtn {
  margin-left: 92%;
  margin-bottom: -0.8%;
  color: #e1e1e1;
  background-color: white;
  border-color: white;
}

.deleteVideoBtn:hover {
  margin-left: 92%;
  color: red;
  background-color: white;
  border-color: white;
}

#bg-showmessage {
  display: block;
  margin: auto;
  margin-top: 22%;
  width: 40%;
}

ul li a .positionspan {
  padding-top: 1px;
  font-size: 20px;
  cursor: move;
  padding-right: 3px;  
  color: #363636;
  margin-left: -10px;
}

ul li a:hover .positionspan {
  display: inline;
  color: #ddd;
}

.ttype-card-header .ttypespan {
  font-size: 20px;
  cursor: move;
  padding-right: 10px;  
  color: #22cc83;
}

.ttype-card-header:hover .ttypespan {
  display: inline;
  color: #fff;
}

.newpad {
  padding-left: -15px;
}

#posName {
  max-width: 10px;
  overflow: hidden;
}

.snav ul[dnd-list] {
    min-height: 42px;
}

.snav ul[dnd-list] .dndDraggingSource {
    display: none;
}

.snav ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 42px;
}

.snav ul[dnd-list] li {
    border: 1px solid transparent;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    margin-bottom: -1px;
}

.nav2 > li > a {
  padding-left: 5px;
}

.tech-row .techspan {
  font-size: 20px;
  cursor: move;
  padding-right: 6px;  
  color: #fff;
}

.tech-row:hover .techspan {
  display: inline;
  color: #fff;
}


.tnav ul[dnd-list] {
    min-height: 42px;
}

.tnav ul[dnd-list] .dndDraggingSource {
    display: none;
}

.tnav ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 42px;
}

.tnav ul[dnd-list] li {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
}

/*Modal*/

.app-modal-window .modal-dialog {
  width: 390px;
}

.modal {
  text-align: center;
  font-size: 18px;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}