/*fonts*/
@font-face {
font-family: 'Lato';
src: asset-url("Lato-Light.ttf")  format('truetype');
/*font-weight: bold;*/
}

body {
  font-size: 16px;
  font-family: Lato, sans-serif;
  color: #5c5c5c;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  /*background-color: #493b76;*/
}

section {
  left: 288px;
  right: 0px;
  height: 100%;
  position: fixed;
}

.btn {
  padding: 4px 9px;
}

ul {
   list-style-type: none;
}

html.touch *:hover {
    pointer-events: none !important;
}

.profile-update-alert {
  margin-top: 10px;
}

/*navbar*/


#aside-icon {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;
  /*float: right;*/
  /*display: block;*/
}

.pos-name-span {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 300px;
  margin-top: 2px;
  margin-bottom: -4px;
  display: inline-block;
  white-space: nowrap;
}


.add-int {
  margin-left: 20px;
}

.mobile-fix {
  display: inline;
  /*padding-bottom: 20px;*/
  margin-left: 10px;
}

.down-button-nav{
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}


.ng-aside.horizontal .modal-dialog .modal-content {
    width: 300px;
}

.nav-toggle {
  float: left;
  margin-top: -20px;
  border-color: #c4addd;
  border-style: none;
  margin-left: 10px;
}


.navadd {
  float: left;
  width: 320px;
  /*margin-left: 16%;*/
}


.navbar-default {
  border-style: none;
}

#brand {
  width: 227px;
  height: 100%;
  margin-top: 10px;
  margin-left: -25px;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.content {
  margin-top: 70px;
}

#top {
  margin-top: 65px;
  position: relative;
  width: 100%;
  height: 500px;
  background-size: cover;
}

.homenav {
  background-color: #59439c;
  border-radius: 0px;
  height:65px;
  border-bottom: 0px;
  font-family: Lato;
  left: 288px;
  right: 0px;
  position: fixed;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.navbar-brand {
  padding-top: 15px;
  padding-left: 10px;
}

/* Top Navigation */
.top-nav>li {
}

.top-nav>li>a {
  padding: 8px 10px;
  line-height: 20px;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
  background-color: transparent;
}

.sidemenu-toggle {
  height: 50%;
  margin-right: 20px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 12px;
  color: white;
  font-family: Lato;
  border: 3px solid;
  border-radius: 360px;
  font-size: 20px;
  position: relative;
  display: block;
  list-style: none;
  text-decoration: none;
  padding: 8px 10px;
    line-height: 20px;
    cursor: pointer;
}

.no-touch .sidemenu-toggle:hover {
  border-color: #EC583A !important;
  color: #EC583A !important;
  transform: scale(1.15);
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.sidemenu-toggle:focus {
  color: #fff;
  border-color: #fff;
}


.down-button {
  background-color: #23b8e5;
  color: white;
  margin-top: 10px;
  margin-right: 30px;
  margin-bottom: 10px;
}

.down-button-overide {
  margin-right: 10px;
}

/* Dropdown - logout
/*.dropdown-menu2 {
  margin-top: 10px;
  width: 80px;
  height: 60px;
  background-color: rgba(255,255,255, 0.6);
}

.move {
  margin-top: 0px;
}

.logout-options {
  padding-left: 15px;
}
*/
/* Position */

.side-nav {
  font-family: Helvetica, sans-serif;
  position: fixed;
  top: 128px;
  left: 20%;
  width: 288px;
  margin-left: -20%;
  border: none;
  border-radius: 0;
  overflow-y: scroll;
  background-color: #212121;
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 40px;
  font-size: 16px;
  z-index: 2;
  display: inline-block;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
}

.newbrand {
  position: fixed;
  top: 0px;
  left: 20%;
  width: 288px;
  margin-left: -20%;
  background-color: #212121;
  font-size: 16px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);

  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.addposition {
  position: fixed;
  top: 60px;
  left: 20%;
  width: 288px;
  margin-left: -20%;
  border: none;
  border-radius: 0;
  overflow-y: scroll;
  background-color: #212121;
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 40px;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  z-index: 2;
}

.side-nav>li {
  float: left;
  clear: left;
  width: 100%;
  display: block;
}

.position-a:hover{
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  outline: none;
  background-color: #000 !important;
  color: #fff;
}

.side-nav>li>ul {
  padding: 0;
}

.position-a {
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden; 
  padding: 10px 15px 10px 20px;
  text-decoration: none;
  color: #ccc;
  cursor: pointer;
}

.position-a:focus {
  color: #9d9d9d;
}

.add-position-form {
  float: left;
  margin-left: -20px;
  width: 270px;
}

.forms-control {
  margin-top: 20px;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #a5a3a3;
  color: white;
  width: 190px;
  height: 34px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  border-radius: 8px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.forms-control:hover {
  border-color: #a5a3a3;
}

.addPos {
  background-color: transparent;
  color: #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  margin-top: 6px;
  display: inline-block;
  z-index: 2;
  border-radius: 90px;
  margin-left: 4px;
}

.addPos:hover {
  border-color: #99d4d1;
  transform: scale(1.05);
  color: #99d4d1;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.addPos:hover .fa-plus{
  color: #99d4d1;
  transform: scale(1.2);
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.deletePos {
  display: inline-block;
  float: right;
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}

.position-a:hover .deletePos {
  padding-top: 6px;
  display: block;
  float: right;
  color: gray;
  background-color: transparent;
}

.position-a:hover .deletePos:hover {
  display: block;
  float: right;
  color: #ec5355;
  background-color: transparent;
  transform: scale(1.4);
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.position-a .positionspan {
  display: inline-block;
  position: absolute;
  margin-top: 8px;
  cursor: move;
  padding-right: 5px;
  color: #212121;
  margin-left: -10px;
}

.position-a:hover .positionspan {
  color: #d2d0d0;
}

.position-a:hover .positionspan:hover {
  color: #99d4d1;
  transform: scale(1.4);
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

/*technique type*/
.ttype-capsule {
  /*margin-left: 288px;*/
  width: 40%;
  height: 100%;
  position: relative;
  /*top: 65px;*/
  display: inline-block;
  vertical-align: top;
  border: none;
  border-radius: 0;
  overflow-y: scroll;
  background-color: #f3f3f4;
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 40px;
  font-family: Lato;
  z-index: -1;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.ttype-head {
  position: fixed;
  background-color: #fff;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #cfd4d6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #e3e3e3;
  width: 30%;
  height: 65px;
  margin-top: 65px;
  margin-left: 20%;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.newtech-head {
  /*position: fixed;*/
  border: none;
  background-color: #fff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #f3f3f4;
  width: 100%;
  height: 40px;
  /*margin-left: 50%;*/
  /*margin-top: 65px;*/
  /*z-index: 1;*/
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.newtech-head>a {
  color: white;
}

.block-spacing {
  height: 65px;
}

.ttype-card-container {
  margin-top: 18px;
  margin-right: 3%; 
  margin-left: 3%;
  margin-bottom: 6px;
  border-radius: 3px;
  border: none;
  background-color: #fff;
  min-height: 50px;
  height:auto;
  list-style-type: none;
  box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23)
}

.ttype-card-header:hover + .ttype-card-hover{
    -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index:1000;
  border-radius: 4px;
  box-shadow:rgba(0, 0, 0, 0.3) 0 9px 9px 0;
  -webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 9px 9px 0;
  -moz-box-shadow:rgba(0, 0, 0, 0.3) 0 9px 9px 0;
}


.step-index {
  font-weight: 900;
  padding-right: 10px;
}

.bottom-intention-block {
  margin-bottom: 40px;
}

.ttype-card-header {
  font-family: Tahoma, Geneva, sans-serif;
  background-color: #fff;
  color: #6d6d6d;
  height: 50px;  
  font-size: 21px;
  text-overflow: ellipsis;
  overflow: visible; 
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.ttype-card-header:after {
  height:1px;
  background:#bbc1c7;
  width:92%;
  display:block;
  content:"";
  margin:6px auto;
}

.ttype-card-header .ttypespan {
  font-size: 20px;
  cursor: move;
  padding-right: 10px;  
  color: #fff;
  display: block;
  padding-left: 20px;
  padding-top: 15px;

}

.ttype-card-header:hover .ttypespan {
  color: lightgray;
}

.ttype-card-header:hover .ttypespan:hover {
  color: #99d4d1;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.ttype-card-header .title {
  /*padding-top: 12px;*/
  /*padding-left: 15px;*/
  /*padding-bottom: 2px;*/
  margin-top: -32px;
  text-align: center;
  display: block;
}

.create-ttype {
  float: left;
  margin-top: -3px;
}

.ttype-head>span {
  display: inline-block;
  margin-left: 20px;
  padding-top: 25px;
  color: #7c7c7c;
  font-size: 12px;
}


/*Technique*/
.tech-row {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #f3f3f4;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #fff;
}

.tech-row:hover{
  z-index:1000;
  box-shadow:rgba(0, 0, 0, 0.3) 0 3px 3px 0;
  -webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 3px 3px 0;
  -moz-box-shadow:rgba(0, 0, 0, 0.3) 0 3px 3px 0;
  background-color: #fff;  
  border-top-color: #ececec;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.tech-a {
  color: #363636;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  display: block;
  padding: 10px 15px 0px 15px;
  cursor: pointer;
}

.tech-a:hover, .tech-a:focus {
  background-color: #fff
}

.forms-control-tech {
  /*margin-top: 20px;*/
  /*margin-left: 10px;*/
  background-color: transparent;
  border-style: none;
  /*border-width: 1px;*/
  /*border-color: #d8d8d8;*/
  color: #363636;
  width: 250px;
  height: 34px;
  padding: 25px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  border-radius: 8px;
  font-family: lato;
  font-size: 16px;
  cursor: text;
  /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);*/
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.forms-control-tech-edit {
  color: #fff;
  margin-top: 20px;
  margin-left: 10px;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  width: 260px;
  height: 34px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  border-radius: 8px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.forms-control-tech:hover {
  border-color: #9f9f9f;
}



.addTech {
  display: inline-block;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  color: #d8d8d8;
  margin-top: 8px;
  border-radius: 90px;
  margin-left: 4px;
}

.addTech-fix {
  display: none;
}


.addTech:hover {
  border-color: #99d4d1;
  transform: scale(1.05);
  color: #99d4d1;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.addTech:hover .fa-plus{
  color: #99d4d1;
  transform: scale(1.3);
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.addStep {
  margin-right: 0px;
}

input:focus {
    outline:none;
}

.add-tech-form {
  float: left;
  margin-left: 20px;
}

.add-step-form {
  width: 100%;
  float: left;  
}

.deleteTechRow {
  float: right;
  margin-top: 5px;
  margin-right: 35px;
  color: #222;
  background-color: transparent;
  border-style: none;
  font-size: 12px;
  color: #e8f4f6;
}

.deleteTechRow:hover {
  color: #fff;
}

.prof-color1 {
  background-color: #53ff5f;
  width: 15px;
  margin-top: -10px;
  margin-right: -15px;
  height: 48px;
  float: right;
}

.prof-color2 {
  background-color: #ffc24f;
  width: 15px;  
  margin-top: -10px;
  margin-right: -15px;
  height: 48px;
  float: right;
}
.prof-color3 {
  background-color: #ddd;
  width: 15px;
  margin-top: -10px;
  margin-right: -15px;
  height: 48px;
  float: right;
}

.prof-color4{
  background-color: white;
  width: 15px;
  margin-top: -10px;
  margin-right: -15px;
  height: 48px;
  float: right;
}

/*TECHNIQUE COLUMN*/
.technique-capsule {
  float: right;
  width: 60%;
  position: relative;
  display: inline-block;
  vertical-align: top;
  /*top: 65px;*/
  border: none;
  border-radius: 0;
  overflow-y: scroll;
  background-color: #f3f3f4;
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 40px;
  height: 100%;
  z-index: -1;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.tech-head {
  position: fixed;
  border: none;
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  width: 50%;
  height: 65px;
}

.details-card {
  margin-top: 18px;
  margin-left: 1.5%;
  margin-right: 2%;
  margin-bottom: 40px;
  min-height: 600px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23)
}

.right-card-header {
  background-color: #fff;
  color: #6d6d6d;
  height: 50px;  
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 21px;
  text-align: center;
  padding-top: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

textarea {
  outline: none;
  resize: none;
  border-color: #c9c9c9;
  border-radius: 5px;
  width: 90%; 
  margin-left: 5%;
  margin-right:5%;
}

.addNotes {
  display: block;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #c9c9c9;
  color: #5c5c5c;
  float: right;
  margin-right: 5%;
}

.addNotes:hover {
  background-color: #f2f0f0;
  border-color: #c1bfbf;
  color: #c1bfbf;
}

.step-container {
  padding-bottom: 10px;
  margin-top: 10px;
  
}

.step-list-container {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 1%; 
  margin-left: 1%;
  border: none;
  background-color: #fff;
  min-height: 40px;
  height:auto;
  list-style-type: none;
}

.step-list-header {
  background-color: #9f9f9f;
  color: #fff;
  height: 40px;  
  font-size: 17px;
}

.step-outline {
  margin-right: 5%; 
  margin-left: 5%;
  border-top: 1px solid #B6DEDC;
  border-bottom: 1px solid #B6DEDC;
}

.step-list-header>p {
  text-align: center;
  padding-top: 9px;
  margin: auto;
}

.step-text {
  width: 95%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}


.ttype-text {
  width: 30%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.ttype-nav-text {
  width: 40%;
  display: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
  margin-top: 20px;
  font-size: 20px;
  margin-left: 5px;
}

.ttype-nav-text-overide {
  margin-top: 22px;
}

.posTextActive {
  display: inline-block;
}

.step-row {
  color: #363636;
  display: inline-block;
}
  
.step-row>a {
  display: inline-block;
  color: #363636;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;  
}

.step-row>a:focus, .step-row>a:hover {
  background-color: #fff !important;
}

.step-row:hover .deleteStepRow {
  color: #c1bfbf;
}

.step-row:hover .deleteStepRow:hover {
  color: #ec5355;
  transform: scale(1.4);
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.deleteStepRow {
  display: inline;
  margin-right: -10px;
  float: right;
  margin-top: 5px;
  background-color: transparent;
  border-style: none;
  font-size: 14px;
  color: white;
}


#blocker {
  margin-left: 64%;
}

#video-upload {
  display: inline-block;
  margin-top: -30px;
}


#video {
  display: inline-block;
  margin-top: -30px;
  margin-left: 8%
}

#notes {
  display: inline-block;
  margin-left: 16%;
  margin-top: -29px;
}

#steps {
  display: inline-block;
  margin-left: 24%;
  margin-top: -29px;
}


.icons {
  position: absolute;
  font-size: 30px !important;
  color: #c3c3c3;
}


.no-touch .icons:hover {
  color: #99d4d1;
  transform: scale(1.3);
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}


.button {
  position: absolute;
  border: 0 none;
  border-radius: 36px;
  padding: 5px 20px;
  cursor: pointer;
  margin-top: -20px;
  margin-left: -40px;
  display: inline-block;
  font-size: 16px;
  color: #fff;
  text-transform: none;
  
  transition: all 100ms ease-in-out;

  &:hover {
      opacity: .7;
  }
}


.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    width: 300px; height: 14px;
    border-radius: 10px;
    border: 1px solid #CCC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6666cc), to(#4b4b95));
    border-image: initial;
}



.upload-video-thumb {
  width: 90%;
  height: auto;
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
}

#upload-form {
  margin-left: 32%;
  text-align: center;
}


.video-js-responsive-container.vjs-hd {
  padding-top: 56.25%;
}
.video-js-responsive-container.vjs-sd {
  padding-top: 75%;
}
.video-js-responsive-container {
  width: 100%;
  position: relative;
}
.video-js-responsive-container .video-js {
  height: 100% !important; 
  width: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}


.videocard {
  margin-top: 50px;
}

.video-thumb {
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.video-container {
  position:relative;
  padding-bottom:50%;
  padding-top:1px;
  height:0;
  overflow:hidden;
  margin: auto;
}

.video-upload-box {
  text-align: center;
  margin: auto;
}


.forms-control-video-upload {
  margin-left: 2%;
  margin-bottom: 40px;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #f0f0f0;
  color: #363636;
  width: 48%;
  height: 34px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  border-radius: 8px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}


.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  left: 0;
  right: 0;
  width:90%;
  height:90%;
}

.video-btn-row {
float: right;
margin-right: 10%;
margin-top: -80px;
}

.notes-btn-row {
float: right;
margin-right: 10%;
margin-top: -50px;
padding-bottom: 60px;
}

.edit-notes {
  margin-right: 10px;
  margin-bottom: -90px;
  color: #c1bfbf;
  background-color: transparent;
  border-color: white;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 12px;
}

.edit-notes:hover {
  color: black;
  background-color: white;
  border-color: white;
}


.editVideo {
  margin-right: 10px;
  margin-bottom: -90px;
  color: #c1bfbf;
  background-color: white;
  border-color: white;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 12px;
}

.editVideo:hover {
  color: black;
  background-color: white;
  border-color: white;
}


.deleteVideoBtn {
  margin-right: -30px;
  margin-bottom: -90px;
  color: #c1bfbf;
  background-color: transparent;
  border: none;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 12px;
}

.deleteVideoBtn:hover {
  color: red;
}



.add-video-form {
 margin-left: 5%;
 text-align: center;
}

#youtube-label:after {
  height:1px;
  background:#bbc1c7;
  width: 45%;
  display:block;
  content:"";
  margin:6px auto;
}


.forms-control-video {
  margin-left: 2%;
  margin-bottom: 40px;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #f0f0f0;
  color: #363636;
  width: 55%;
  height: 34px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  border-radius: 8px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.notes-block {
  margin-top: 10px;
  padding-bottom: 50px;
}

.notes-textarea {
  line-height: 25px;
}

.forms-control-step {
  background-color: transparent;
  border-style: none;
  color: #363636;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  line-height: 1.42857143;
  border-radius: 8px;
}

.forms-control-step:hover {
  border-color: #9f9f9f;
}


#bg-addposition {
  width: 25%;
  display: block;
  margin: auto;
  margin-top: 16%;
}

#bg-addtech {
  width: 38%;
  display: block;
  margin: auto;
  margin-top: 24%;
}

.bg-addposition-container {
  left: 288px;
  right: 0px;
  position: fixed;
  top: 65px;
  border: none;
  border-radius: 0;
  overflow-y: scroll;
  background-color: #f3f3f4;
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 40px;
  z-index: -1;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.nav2 {
    position: relative;
    display: block;
    padding: 10px 15px;
    list-style: none;
}




#bg-showmessage {
  display: block;
  margin: auto;
  margin-top: 18%;
  width: 40%;
}





.newpad {
  padding-left: -15px;
}

.navbar-nav > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
}

#posName {
  width: 84%;
  padding-top: 8px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/*POSITION DND*/
.snav ul[dnd-list] {
    min-height: 42px;
}

.snav ul[dnd-list] .dndDraggingSource {
    display: none;
}

.snav ul[dnd-list] .dndDragging {
  opacity: .3;
}

.snav ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #000;
    min-height: 42px;
}

.snav ul[dnd-list] li {
    border: 1px solid transparent;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    margin-bottom: -1px;
}

.placeholder-text {
  position: absolute;
  font-weight: bold;
  margin-left: 9%;
  margin-top: 8px;
  color: #f0f0f0;
}


.nav2 > li > a {
  padding-left: 5px;
}

.tech-row .techspan {
  font-size: 20px;
  cursor: move;
  padding-right: 6px;  
  color: #fff;
}

.tech-row:hover .techspan {
  display: inline;
  color: #cecece;
}

.tech-row:hover .techspan:hover {
  color: #99d4d1;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  transition: all 0.15s ease;
}


/*TTYPE DND*/
.tnav[dnd-list] {
    min-height: 42px;
}

.tnav[dnd-list] .dndDraggingSource {
    display: none;
}

.tnav[dnd-list] .dndDragging {
  opacity: .3;
}

.tnav[dnd-list] .dndPlaceholder {
    display: block;
    min-height: 42px;
}

.tnav[dnd-list] div {
    display: block;
}


.ttype-placeholder-text {
  display: block;
  font-size: 20px;
  background-color: #ddd;
  border-radius: 10px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 18em;
  padding: 3px 10px 5px 10px;
  color: #fff;
  text-align: center;
}


/*TECHNIQUE DND*/
.ttype-card-container ul[dnd-list] {
    min-height: 42px;
}

.ttype-card-container ul[dnd-list] .dndDraggingSource {
    display: none;
}

.ttype-card-container ul[dnd-list] .dndDragging {
  opacity: .3;
}

.ttype-card-container ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 42px;
}

.tech-placeholder-text {
  display: block;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 8px;
  color: #fff;
}



#repeatSelect {
  height: 30px;
  color: red;
}



/*Modal*/

.btn-primary2, .btn-warning {
  background-color: transparent;
  border-color: #dfdfdf;
  color: #424242;
  border-width: 1px;
  width: 100px;
}


.btn-primary2:hover, .btn-warning:hover {
  background-color: #fbfbfb;
  border-color: #dfdfdf;
  color: #424242;  
}

.app-modal-window .modal-dialog {
  width: 390px;
  height: 400px;
}

.modal {
  text-align: center;
  font-size: 18px;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}


#step-row-a {
  padding: 5px 10px;
}

/*PROFICIENCY STYLING*/

.custom-dropdown--large {
    font-size: 1.5em;
}

.custom-dropdown--small {
    font-size: .7em;
}

.custom-dropdown__select{
    font-size: inherit; /* inherit size from .custom-dropdown */
    padding: .5em; /* add some space*/
    margin: 0; /* remove default margins */
}

.custom-dropdown__select--white {
    background-color: #fff;
    color: #444;    
}

@supports (pointer-events: none) and
      ((-webkit-appearance: none) or
      (-moz-appearance: none) or
      (appearance: none)) {

    .custom-dropdown {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }

    .custom-dropdown__select {
        padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
        border: 0;
        border-radius: 3px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;    
    }

    .custom-dropdown::before,
    .custom-dropdown::after {
        content: "";
        position: absolute;
        pointer-events: none;
    }

    .custom-dropdown::after { /*  Custom dropdown arrow */
        content: "\25BC";
        height: 1em;
        font-size: .625em;
        line-height: 1;
        right: 1.2em;
        top: 50%; margin-top: -.5em;
    }

    .custom-dropdown::before { /*  Custom dropdown arrow cover */
        width: 2em;
        right: 0; top: 0; bottom: 0;
        border-radius: 0 3px 3px 0;
    }

    .custom-dropdown__select[disabled] {
        color: rgba(0,0,0,.3);
    }

    .custom-dropdown.custom-dropdown--disabled::after {
        color: rgba(0,0,0,.1);
    }

    /* White dropdown style */
    .custom-dropdown--white::before {
        background-color: #fff;
        border-left: 1px solid rgba(0,0,0,.1);
    }

    .custom-dropdown--white::after {
        color: rgba(0,0,0,.9);
    }

    /* FF only temp fix */
    @-moz-document url-prefix() {
        .custom-dropdown__select             { padding-right: .9em }
        .custom-dropdown--large .custom-dropdown__select { padding-right: 1.3em }
        .custom-dropdown--small .custom-dropdown__select { padding-right: .5em }
    }
}


.select-style {
    padding: 0;
    /*margin-top: 16px;*/
    margin-left: 6%;
    border: 0px solid #ccc;
    width: 155px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    background: #fff;
    position: relative;
}

.select-style:after {
    top: 50%;
    left: 85%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #5a5a5a;
    border-width: 5px;
    margin-top: -2px;
    z-index: 100;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
    outline: none;
}


.fa-ellipsis-v {
  font-size: 15px;
}

.position-handle {
  padding-top: -5px;
}


.profActivate {
  color: #cecece;
}



/*ANGULAR RIPPLE*/
[angular-ripple] {
  position: relative;
  overflow: hidden;
}
.angular-ripple {
  display: block;
  position: absolute;
  background-color: rgba(182,222,220,.8);
  border-radius: 50%;
  transform: scale(0);
}
.angular-ripple.animate {
  animation: ripple 0.35s linear;
}
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}



.dropdown-menu {
  min-width: 100px;
}

.fa-caret-down {
  color: lightgray;
}

.no-touch .fa-caret-down:hover {
  color: #99d4d1;
  transform: scale(1.4);
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.fa-plus:hover {
  cursor: pointer;
  color: #99d4d1;
  transform: scale(1.2);
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  transition: all 0.15s ease;
}



.dropdown-menu > li > a {
  text-align: center;
  cursor: pointer;
  z-index: 5;
}

.dropdown {
  margin-left: 5px;
}
.dropdown-nav {
  display: inline-block;
}

/*EDIT NAMES*/
.forms-control-editName {
  background-color: transparent;
  border-style: none;
  color: #363636;
  width: 70%;
  height: 34px;
  padding: 6px 12px;
  line-height: 1.42857143;
    -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

/*EDIT NAMES*/
.forms-control-editPosName {
  background-color: transparent;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  color: #CCC;
  width: 35%;
  height: 34px;
  padding: 6px 12px;
  line-height: 1.42857143;
    -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.edit-pos-form {
  width: 100%;
  float: right;  
  margin-top: -10px;
}





/* collapsed sidebar styles */

/*@media screen and (max-width: 1330px) {

  .forms-control {
    width: 150px;
    font-size: 14px;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .forms-control-tech {
    width: 145px;
    font-size: 13px;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  #brand {
    width: 200px;
    padding-bottom: 20px;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  #posName {
    width: 85%;
  }

  .ttype-text {
    width: 32%;
  }

}*/

@media screen and (max-width: 1281px) {

  /*EDIT NAMES*/
.forms-control-editPosName {
  background-color: transparent;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  color: #CCC;
  width: 90%;
  height: 34px;
  font-size: 14px;
  padding: 6px 12px;
  line-height: 1.42857143;
    -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

  .snav {
    margin-left: -288px;
    height: 100%;
    width: 288px;
    position: absolute;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  section {
    left: 0px;
    margin-top: 65px;
  }

  .homenav {
    left: 0px;
  }

  .newbrand {
    margin-left: -600px;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .addposition {
    margin-left: -600px;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .side-nav {
    margin-left: -600px;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .homenav {
    width: 100%;
  }


  .bg-addposition-container {
    left: 0px;
    width: 100%;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .ttype-capsule {
    margin-left: 0%;
    width: 40.5%;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .technique-capsule {
    width: 59.5%;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .toggleClassActive {
    margin-left: 0% !important;
  }

  #blocker {
    margin-left: 62%;
  }


  #video {
    margin-left: 9%
  }

  #notes {
    margin-left: 18%;
  }

  #steps {
    margin-left: 27%;
  }

  .hideTextActive {
    display: none;
  }

  .posText {
    display: none;
  }

  .posTextActive {
    display: inline-block;
  }

  .back-arrow {
    margin-top: -3px;
  }

  .forms-control-video {
    width: 60%;
  }


  .add-position-form {
    width: 100%;
  }

   .add-position-form .forms-control {
    width: 77%;
  }

  .ttype-text {
    width: 1%;
    color: white;
    display: none !important;
  }

  .step-text {
    width: 93%;
  }

  .small-text {
    display: none;
  }

  .forms-control {
    width: 180px;
    font-size: 14px;
  }

  .forms-control-tech {
    width: 180px;
    font-size: 14px;
  }

  .forms-control-step {
    width: 78%;
  }

  .snav {
    z-index: 3;
  }

  .ttype-head {
    z-index: 2;
  }

  .add-int {
    margin-left: 20px;
  }

  .mobile-fix {
    display: inline;
    padding-bottom: 20px;
  }
  .forms-control-tech-edit {
    width: 250px;
  }

  .fa-caret-down:hover {
    color: #lightgray;
    transform: scale(1.0);
  }

  .down-button-nav{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .details-card {
    min-height: 530px;
  }



  /*shrunk down position bar*/
  .posColActive {
    margin-left: -20%;
    width: 288px;
  }


  .sideMenuActive {
    margin-right: 42%;
    -webkit-transition-delay: .25s;
    transition-delay: .25s;
  }

  /*toggle buttone*/
  * {
    box-sizing: border-box;
  }

  .nav-toggle {
    background: none;
    border: 0;
    cursor: pointer;
    display: block;
    color: white;
    height: 18px;
    line-height: 1;
    margin: 25px auto;
    outline: 0;
    position: relative;
    width: 40px;
    margin-left: -20px;
  }

  .toggle-p {
    padding-right: 20px;
    font-size: 16px;
    opacity: 1;
    color: white;
    position: absolute;
    transition: all .5s ease;
    transform: translateY(0);
    &.ng-hide-add {
      transform: translateY(0);
      opacity: 1;
    }
    &.ng-hide-add-active {
      transform: translateY(-15px) rotateX(-90deg);
      opacity: 0;
    }
    &.ng-hide-remove {
      transform: translateY(15px) rotateX(90deg);
      opacity: 0;
    }
    &.ng-hide-remove-active {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .togglespan,
  .togglespan:before,
  .togglespan:after {
    background-color: #fff;
    height: 4px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(7px);
    transition: all 0.5s ease;
    width: 25px;
  }

  .togglespan:before,
  .togglespan:after {
    content: '';
    transform: translateY(0);
  }

  .hamburger {
    span {
      &:before {
        transform: translateY(-7px);
      }
      &:after {
        transform: translateY(7px);
      }
    }
  }

  .arrow-right {
    span {
      transform: rotate(180deg) translateY(-7px) translateX(0);
      &:before,
      &:after {
        width: 15px;
      }
      &:before {
        transform: rotate(45deg) translateY(14px) translateX(-8px);
      }
      &:after {
        transform: rotate(-45deg) translateY(-14px) translateX(-8px);
      }
    }
  }

  .arrow-left {
    span {
      transform: rotate(180deg) translateY(-7px) translateX(0);
      &:before,
      &:after {
        width: 15px;
      }
      &:before {
        transform: rotate(-45deg) translateY(6px) translateX(0);
      }
      &:after {
        transform: rotate(45deg) translateY(-6px) translateX(0);
      }
    }
  }

  /*remove D&D styling*/
  
  /*POSITION BAR*/
  .position-a:hover {
    outline: none;
    background-color: #212121 !important;
  }

  .deletePos, .position-a:hover .deletePos:hover, .position-a:hover .deletePos {
    display: none;
  }


  .position-a .positionspan {
    display: inline-block;
    position: absolute;
    margin-top: 8px;
    cursor: move;
    padding-right: 5px;
    color: #212121;
    margin-left: -10px;
  }

  .position-a:hover .positionspan, .position-a:hover .positionspan:hover {
    color: #212121;
  }

  /*Technique*/
  .tech-row:hover{
    box-shadow:rgba(0, 0, 0, 0.3) 0 0px 0px 0;
    -webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 0px 0px 0;
    -moz-box-shadow:rgba(0, 0, 0, 0.3) 0 0px 0px 0;
    background-color: #fff;  
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #f3f3f4;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #fff;
  }

  .tech-row:hover .techspan, .tech-row:hover .techspan:hover {
      color: #fff;
  }

  .ttype-card-header:hover + .ttype-card-hover{
    box-shadow:rgba(0, 0, 0, 0.3) 0 0px 0px 0;
    -webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 0px 0px 0;
    -moz-box-shadow:rgba(0, 0, 0, 0.3) 0 0px 0px 0;
  }

  .ttype-card-header:hover .ttypespan, .ttype-card-header:hover .ttypespan:hover {
    color: #fff;
  }

  .step-row:hover .deleteStepRow:hover {
    color: #ec5355;
    transform: scale(1.4);
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
  }

  .deleteStepRow {
    color: #e1e1e1;
  }


  /*REMOVE RIPPLE*/
  .angular-ripple {
    background-color: #fff;
  }

}



@media screen and (max-width: 768px) {

  .select-style:after {
    left: 80%;
  }

  .select-style select {
    font-size: 15px;
  }

  #upload-form {
    margin-left: 20%;
  }

  /*FIX MODAL SIZE*/
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }

  .app-modal-window .modal-dialog {
    width: 350px;
    height: 400px;
  }

  .modal {
    text-align: center;
    font-size: 16px;
  }

  .modal-dialog .modal-content {
    width: 340px;
  }

  .edit-ttype-title {
    line-height: 0.8;
    font-size: 20px;
    text-align: center;
  }


  /*TRANSITIONS*/
  .newtech-head {
    width: 100%;
    margin-left: 0%;
  }

  .technique-capsule {
    width: 100%;
    margin-left: 0%;
  }

  .snav {
    z-index: 3;
  }


  .ttype-head {
    width: 100%;
    margin-left: 0%;
    z-index: 2;
  }

  .ttype-capsule {
    width: 100%;
  }


  .ttypeColActive {
    -webkit-transition-delay: .25s; /* Safari */
    transition-delay: .25s;
    width: 100%;
    margin-left: 0%;
      opacity: 1;
  }


  .forms-control-tech {
    width: 200px;
    font-size: 14px;
  }

  .forms-control-tech-edit {
    width: 75%;
    font-size: 14px;
  }

  .navadd {
    width: 80%;
  }
  
  /*shrunk down position bar*/
  .posColActive {
    margin-left: -20%;
    width: 250px;
  -webkit-box-shadow: 6px 0px 5px -4px #888;
     -moz-box-shadow: 6px 0px 5px -4px #888;
          box-shadow: 6px 0px 5px -4px #888;
  }


  .toggleClassActive {
    margin-left: 0% !important;
  }


  .smTtypeColActive {
    margin-left: -100%;
  }

  .hideTextActive {
    display: none;
  }

  .posText {
    display: none;
  }

  .posTextActive {
    display: inline-block;
  }

  .fa-arrow-circle-left {
    position: absolute;
    padding-right: 20px;
    font-size: 30px !important;
    cursor: pointer;

  }

  .small-text {
    margin-left: 20px;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }

  .small-text span {
    margin-left: 45px;
    cursor: pointer;
  }

  .techniqueBackActive {
    display: inline-block;
    margin-left: -20px;
  }

  .forms-control-step-sm {
    width: 250px;
  }


  .step-text {
    width: 89%;
  }

  #blocker {
    margin-left: 61%;
  }

  .select-style {
    margin-left: 3%;
  }


  .deleteTechRow {
    margin-right: 20px;
  }

  .video-btn-row {
    margin-right: 13%;
  }

  .notes-btn-row {
    margin-right: 13%;
  }


  /*CHANGE BG IMG SIZES*/
  #bg-addposition {
    width: 65%;
    margin-top: 25%;
  }

  #bg-showmessage {
    margin-top: 25%;
    width: 65%;
  }


  #posName {
    width: 100%;
  }

  #blocker {
    margin-left: 54%;
  }

  #video {
    margin-left: 11%
  }

  #notes {
    margin-left: 22%;
  }

  #steps {
    margin-left: 33%;
  }


  .icons {
    font-size: 25px !important;
  }
    
  .pos-name-span {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 150px;
    margin-top: 2px;
    display: inline-block;
    white-space: nowrap;
    font-size: 16px;
  }


  .add-int {
    margin-left: 20px;
  }

  .mobile-fix {
    display: inline;
    padding-bottom: 20px;
  }

  .down-button-nav{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .ttype-nav-text {
    font-size: 16px;
    /*margin-top: 2px;*/
    /*display: inline-block;*/
  }


  .details-card {
    min-height: 430px;
  }


  /*remove D&D styling*/
  
  /*POSITION BAR*/
  .position-a:hover {
    outline: none;
    background-color: #212121 !important;
  }

  .deletePos, .position-a:hover .deletePos:hover, .position-a:hover .deletePos {
    display: none;
  }


  .position-a .positionspan {
    display: inline-block;
    position: absolute;
    margin-top: 8px;
    cursor: move;
    padding-right: 5px;
    color: #212121;
    margin-left: -10px;
  }

  .position-a:hover .positionspan, .position-a:hover .positionspan:hover {
    color: #212121;
  }

  /*Technique*/
  .tech-row:hover{
    box-shadow:rgba(0, 0, 0, 0.3) 0 0px 0px 0;
    -webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 0px 0px 0;
    -moz-box-shadow:rgba(0, 0, 0, 0.3) 0 0px 0px 0;
    background-color: #fff;  
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #f3f3f4;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #fff;
  }

  .tech-row:hover .techspan, .tech-row:hover .techspan:hover {
      color: #fff;
  }

  .ttype-card-header:hover + .ttype-card-hover{
    box-shadow:rgba(0, 0, 0, 0.3) 0 0px 0px 0;
    -webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 0px 0px 0;
    -moz-box-shadow:rgba(0, 0, 0, 0.3) 0 0px 0px 0;
  }

  .ttype-card-header:hover .ttypespan, .ttype-card-header:hover .ttypespan:hover {
    color: #fff;
  }

  .step-row:hover .deleteStepRow:hover {
    color: #ec5355;
    transform: scale(1.4);
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
  }

  .deleteStepRow {
    color: #e1e1e1;
  }


  /*REMOVE RIPPLE*/
  .angular-ripple {
    background-color: #fff;
  }

}

@media screen and (max-width: 350px) {

  .pos-name-span {
    max-width: 110px;
  }

  .step-text {
    width: 88%;
  }

  .forms-control-tech-edit {
    width: 62%;
  }

  /*MODAL*/
  .modal-md .modal-content {
    margin-top: -400px;
    width: 300px;
  }

  .edit-ttype-title {
    line-height: 0.8;
    font-size: 20px;
    text-align: center;
  }


}
