/*fonts*/
@font-face {
font-family: 'Lato';
src: asset-url("Lato-Light.ttf")  format('truetype');
/*font-weight: bold;*/
}

/* Position */
@media(min-width:768px) {
  .side-nav {
    position: fixed;
    top: 64px;
    left: 20%;
    width: 20%;
    margin-left: -20%;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #363636;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
    font-size: 16px;
    font-family: Lato;
  }

  .side-nav>li>a {
    width: 290px;
  }

  .side-nav li a:hover,
  .side-nav li a:focus {
    outline: none;
    background-color: #000 !important;
  }
}

.side-nav>li>ul {
  padding: 0;
}

.side-nav>li>ul>li>a {
  display: block;
  padding: 10px 15px 10px 38px;
  text-decoration: none;
  color: #999;
}

.side-nav>li>ul>li>a:hover {
  color: #fff;
}

.forms-control {
  margin-top: 20px;
  margin-left: 10px;
  background-color: #1a1a1a;
  border-style: solid;
  border-width: 1px;
  border-color: #404040;
  color: white;
  width: 200px;
  height: 34px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.addPos {
  background-color: #222;
  border-style: solid;
  border-width: 1px;
  border-color: #404040;
}

.deletePos {
  display: none;
  float: right;
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}

.fa-arrows-v:hover .deletePos {
  display: block;
  float: right;
  color: gray;
  background-color: transparent;
}

.fa-arrows-v:hover .deletePos:hover {
  display: block;
  float: right;
  color: red;
  background-color: transparent;
}



/*technique type*/
.ttype-capsule {
  margin-left: 20%;
  width: 30.5%;
  position: fixed;
  top: 129px;
  border: none;
  border-radius: 0;
  overflow-y: auto;
  background-color: #d6d6d6;
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 40px;
  font-family: Lato;
}

.ttype-head {
  position: fixed;
  background-color: #fff;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #eaeaea;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #daeeec;
  width: 30%;
  height: 65px;
  margin-top: -21px;
  margin-left: 20%;
}

.newtech-head {
  position: fixed;
  border: none;
  background-color: #fff;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #eaeaea;
  width: 50%;
  height: 65px;
  margin-left: 50%;
  margin-top: -21px;

}

.block-spacing {
  height: 65px;
}


.ttype-card-container {
  margin-top: 6px;
  margin-right: 2%; 
  margin-left: 2%;
  border: none;
  background-color: #fff;
  min-height: 50px;
  height:auto;
  list-style-type: none;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #bababa;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #bababa;
}

ul {
   list-style-type: none;
}

.ttype-card-header {
  background-color: #ff6d6d;
  color: #fff;
  height: 50px;  
  font-size: 17px;
}

.create-ttype {
  float: right;
}

.ttype-head>span {
  display: inline-block;
  margin-left: 30px;
  padding-top: 25px;
  color: #7c7c7c;
}

.ttype-card-header>p {
  padding-top: 12px;
  padding-left: 15px;
}


/*Technique*/

.tech-row {
  margin-left: -40px;
  padding-left: 40px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #daeeec;
}

.tech-row:hover {
  border-bottom-color: #fff;
}

.tech-row>a {
  color: #363636;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
}

.forms-control-tech {
  margin-top: 20px;
  margin-left: 10px;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #f0f0f0;
  color: #363636;
  width: 200px;
  height: 34px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.addTech {
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #d6d6d6;
  color: #d6d6d6;
}

input:focus {
    outline:none;
}

.add-tech-form {
  float:right;
}

.deleteTType {
  float: right;
  margin-top: 15px;
  color: #222;
  background-color: transparent;
  border-style: none;
  font-size: 12px;
  color: #515151;
}

.deleteTType:hover {
  float: right;
  color: #222;
  background-color: transparent;
  border-style: none;
  color: white;
}

.deleteTechRow {
  display: none;
  float: right;
  color: transparent;
  background-color: transparent;
  border-color: transparent;
 }

.tech-row:hover .deleteTechRow {
  display: block;
  float: right;
  color: gray;
  background-color: transparent;
}

.tech-row:hover .deleteTechRow:hover {
  display: block;
  float: right;
  color: red;
  background-color: transparent;
}


/*TECHNIQUE COLUMN*/

.technique-capsule {
  margin-left: 50%;
  width:50%;
  position: fixed;
  top: 129px;
  border: none;
  border-radius: 0;
  overflow-y: auto;
  background-color: #d6d6d6;
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 40px;
  min-height: 90%;
  z-index: -1;
}

.tech-head {
  position: fixed;
  border: none;
  background-color: #fff;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #eaeaea;
  width: 50%;
  height: 65px;
}

.details-card {
  margin-top: 4px;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  min-height: 90%;
  background-color: #fff;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #bababa;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #bababa;
}

.right-card-header {
  background-color: #EDEDFA;
  color: gray;
  height: 50px;  
  font-size: 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #d6d6d6;
  text-align: center;
  padding-top: 10px;
}

textarea {
  outline: none;
  resize: none;
  border-color: #c9c9c9;
  border-radius: 5px;
  width: 90%; 
  margin-left: 5%;
  margin-right:5%;
}

.addNotes {
  display: block;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #d6d6d6;
  color: #7c7c7c;
  float: right;
  margin-right: 5%;
}

.addNotes:hover {
  background-color: #fbfbfb;
  border-style: solid;
  border-width: 1px;
  border-color: #d6d6d6;
  color: black;
}

.editNotes {
  display: block;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #d6d6d6;
  color: #7c7c7c;
  float: right;
  margin-right: 5%;
}

.editNotes:hover {
  background-color: #fbfbfb;
  border-style: solid;
  border-width: 1px;
  border-color: #d6d6d6;
  color: black;
}

.step-list-container {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 5%; 
  margin-left: 5%;
  border: none;
  background-color: #fff;
  min-height: 50px;
  height:auto;
  list-style-type: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d6d6d6;
}


.step-list-header {
  background-color: #e3e3e7;
  color: #515151;
  height: 50px;  
  font-size: 17px;
}

.step-list-header>p {
  text-align: center;
  padding-top: 12px;

}

.step-row {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #daeeec;
  color: #363636;
}
  
.step-row>a {
  color: #363636;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
}

.step-row:hover {
  background-color: white;
}

#video {
  display: inline-block;
  width: 25px;
  margin-left: 36%;
  margin-right: 25px;
  margin-top: 20px;
}

#steps {
  display: inline-block;
  width: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 20px;

}

#notes {
  display: inline-block;
  width: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 20px;
}

.videocard {
  margin-top: 20px;
}

.video-thumb {
  display: block;
  margin: auto;
}

.editVideo {
  margin-top: 5%;
  /*margin-bottom: 5%;*/
  display: block;
  margin: auto;
}

.add-video-form {
 margin-left: 12%;
}

.forms-control-video {
  margin-left: 2%;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #f0f0f0;
  color: #363636;
  width: 350px;
  height: 34px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.notes-block {
  margin-top: 5%;
  margin-bottom: 10%;
}

.forms-control-step {
  margin-top: 20px;
  margin-left: 10px;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #f0f0f0;
  color: #363636;
  width: 500px;
  height: 34px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}


#bg-addposition {
  width: 25%;
  display: block;
  margin: auto;
  margin-top: 12%;
}

#bg-addtech {
  width: 38%;
  display: block;
  margin: auto;
  margin-top: 20%;
}

.bg-addposition-container {
  margin-left: 20%;
  width: 80%;
  position: fixed;
  top: 129px;
  border: none;
  border-radius: 0;
  overflow-y: auto;
  background-color: #d6d6d6;
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 40px;

}

