.profile-details {
  margin-top: 50px;
  margin-left: 35%; 
  height: 400px;
}


.profile-details h3 {
  padding-bottom: 25px;
  margin-top: 50px;
}

.profile-details ul {
  border-bottom: 1px solid black;
  padding-bottom: 25px;
  border-top: 1px solid black;

}

.profile-element {
  border-bottom: 1px solid black;
  padding: 22px 0px 25px 0px;
}

.profile-element-last {
  padding: 22px 0px 0px 0px;
}

.element-span {
  font-size: 20px;
}

.change-link {
  float: right;
}

.profile-icon {
  font-size: 30px !important;
  margin-left: -45px;
  padding-right: 25px;
}

#pw-block {
  padding-left: 10px;
}


.profile-input-top{
  margin: 20px 0 0 0;
}


.profile-input {
    width: 40%;
    height: 40px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;

}

.profile-btn {
  margin-top: -5px;
  margin-left: -5px;
}

.position-b {
  padding: 15px 15px;
}

@media screen and (max-width: 1024px) {
  .profile-details {
  margin-top: 50px;
  margin-left: 0%; 
  height: 400px;
  }
}

.delete-profile-btn {
  background-color: #ff2f00;
  float: right;
}

@media screen and (max-width: 768px)  {

  .delete-profile-btn {
    background-color: #ff2f00;
    float: left;
    margin-top: 40px;
    margin-left: -40px;
  }
}
